{% extends 'base/base.html' %}
{% load static %}

{% block title %}Event Dashboard{% endblock title %}

{% block breadcrumb %}
    <div>
        <h1><i class="fa fa-dashboard"></i> Dashboard</h1>
        <p>Event Dashboard</p>
    </div>
    <div>
        <button id="optionFutureEvent" class="btn btn-primary active" onclick="toggleEventRows('future-events-row', 'all-events-row')">Future Events</button>
        <button id="optionAllEvent" class="btn btn-primary" onclick="toggleEventRows('all-events-row', 'future-events-row')">All Events</button>
    </div>
    {% comment %}
    <ul class="app-breadcrumb breadcrumb">
        <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
        <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
    </ul>
    {% endcomment %}
{% endblock breadcrumb %}

{% block content %}
<div class="row">
    {% comment %}
    <div class="col-md-6 col-lg-3">
        <div class="widget-small primary coloured-icon">
            <i class="icon fa fa-files-o fa-3x"></i>
            <div class="info">
                <h4>Total Completed Events</h4>
                <p><b>{{ total_event }}</b></p>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3">
        <div class="widget-small info coloured-icon">
            <i class="icon fa fa-thumbs-o-up fa-3x"></i>
            <div class="info">
                <h4>Total Running Events</h4>
                <p><b>{{ running_events.count }}</b></p>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3">
        <div class="widget-small warning coloured-icon">
            <i class="icon fa fa-users fa-3x"></i>
            <div class="info">
                <h4>Total Participants</h4>
                <p><b>10</b></p>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3">
        <div class="widget-small danger coloured-icon">
            <i class="icon fa fa-star fa-3x"></i>
            <div class="info">
                <h4>Stars</h4>
                <p><b>500</b></p>
            </div>
        </div>
    </div>
    {% endcomment %}
    <div class="col-md-12">
        <div class="tile">
            <div class="tile-body">
                <div class="table-responsive">
                    <div id="sampleTable_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer w-95">
                        <div class="row">
                            <div class="col-sm-12">
                                <table class="table table-hover table-bordered dataTable no-footer" id="sampleTable" role="grid" aria-describedby="sampleTable_info">
                                    <thead>
                                        <tr role="row">
                                            <th class="sorting_desc col-1" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-label="Date: activate to sort column ascending">Date</th>
                                            <th class="col-1" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-label="Weekday: activate to sort column ascending">Weekday</th>
                                            <th class="col-1" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-label="Start Time: activate to sort column ascending">Start</th>
                                            <th class="col-1" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-label="End Time: activate to sort column ascending">End</th>
                                            <th class="col-2" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" aria-label="Attendence: activate to sort column ascending">Attendence</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {# Events from Today on to Future #}
                                        {% for row in future_events_with_dates %}
                                            <tr role="row" class="odd future-events-row">
                                                <td>{{ row.event_date }}</td>
                                                <td>({{ row.event_date_weekday }})</td>
                                                <td>{{ row.event_start_time }}</td>
                                                <td>{{ row.event_end_time }}</td>
                                                <td style="background-color: {{ row.event_color }};">{{ row.event.attendence }}</td>
                                            </tr>
                                        {% endfor %}

                                        {# All Events from Past to Future #}
                                        {% for row in all_events_with_dates %}
                                            <tr role="row" class="odd all-events-row d-none">
                                                <td>{{ row.event_date }}</td>
                                                <td>({{ row.event_date_weekday }})</td>
                                                <td>{{ row.event_start_time }}</td>
                                                <td>{{ row.event_end_time }}</td>
                                                <td style="background-color: {{ row.event_color }};">{{ row.event.attendence }}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock content %}

{% block extrascripts %}
    <script type="text/javascript" src="{% static 'js/plugins/jquery.dataTables.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/plugins/dataTables.bootstrap.min.js' %}"></script>
    <script src="https://cdn.datatables.net/plug-ins/1.13.7/sorting/date-eu.js"></script>
    <script type="text/javascript">
        $('#sampleTable').DataTable({
            order: [[0, 'desc']],
            "pageLength": 25,
            "columnDefs": [
                { "orderable": true,  "targets": 0, "type": "date-eu" },
                { "orderable": false, "targets": 1 },
                { "orderable": false, "targets": 2 },
                { "orderable": false, "targets": 3 },
            ]
        });
    </script>

    <script>
        /* function for toggle between all-events and future-events */
        function toggleEventRows(showClassPrefix, hideClassPrefix){
            const showRows = document.querySelectorAll(`.${showClassPrefix}`);
            const hideRows = document.querySelectorAll(`.${hideClassPrefix}`);
            showRows.forEach(function(row) {
                row.classList.remove("d-none");
            });
            hideRows.forEach(function(row) {
                row.classList.add("d-none");
            });

            // toggle 'active' class for the button
            document.getElementById('optionAllEvent').classList.toggle('active');
            document.getElementById('optionFutureEvent').classList.toggle('active');
        }
    </script>
{% endblock extrascripts %}
