{% extends 'base/base.html' %}
{% load static %}

{% block title %}Input Student Join Class Info{% endblock title %}

{% block breadcrumb %}
    <div>
        <h1><i class="fa fa-dashboard"></i> Input Student Join Class</h1>
        <p>Input Student Join Class</p>
    </div>
    {% comment %}
    <ul class="app-breadcrumb breadcrumb">
        <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
        <li class="breadcrumb-item"><a href="#">Input Student Join Class</a></li>
    </ul>
    {% endcomment %}
{% endblock breadcrumb %}

{% block content %}

<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <div class="tile-body">
                <div class="table-responsive">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="form-group col-lg-6">
                            <h4 class="py-2">Input Form</h4>
                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">Student:</label>
                                {{ form.student }}
                                {% comment %} <button id="new-student-button" type="button" class="btn btn-primary">+</button> {% endcomment %}
                            </div>
                            <div class="row">
                                <div class="col"> 
                                    <div class="form-group">
                                        <label for="recipient-name" class="col-form-label">Dates:</label>
                                        {{ form.listOfDate }}
                                    </div>
                                </div>
                                <div class="col"> 
                                    <div class="form-group">
                                        <label for="recipient-name" class="col-form-label">Monday:</label>
                                        {{ form.timeslot0 }}
                                    </div>
                                    <div class="form-group">
                                        <label for="recipient-name" class="col-form-label">Tuesday:</label>
                                        {{ form.timeslot1 }}
                                    </div>
                                    <div class="form-group">
                                        <label for="recipient-name" class="col-form-label">Webnesday:</label>
                                        {{ form.timeslot2 }}
                                    </div>
                                    <div class="form-group">
                                        <label for="recipient-name" class="col-form-label">Thursday:</label>
                                        {{ form.timeslot3 }}
                                    </div>
                                    <div class="form-group">
                                        <label for="recipient-name" class="col-form-label">Friday:</label>
                                        {{ form.timeslot4 }}
                                    </div>
                                    <div class="form-group">
                                        <label for="recipient-name" class="col-form-label">Saturday: </label>
                                        {{ form.timeslot5 }}
                                    </div>
                                    <div class="form-group">
                                        <label for="recipient-name" class="col-form-label">Sunday:</label>
                                        {{ form.timeslot6 }}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">Room:</label>
                                {{ form.room }}
                            </div>
                            <button class="btn-input btn btn-primary py-2">
                                <i class="i-send"></i>
                                <span>Submit</span>
                            </button>
                            {{ form.media.js }}
                            {{ form.errors }}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% comment %} {% include 'students/add_student_modal.html' %} {% endcomment %}
{% endblock content %}

{% block extrascripts %}
    <script type="text/javascript" src="{% static 'js/plugins/jquery.dataTables.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/plugins/dataTables.bootstrap.min.js' %}"></script>
    <script type="text/javascript">$('#sampleTable').DataTable();</script>
{% endblock extrascripts %}
