{% extends 'base/base.html' %}
{% load static %}

{% block title %}Input Student Join Class Info{% endblock title %}

{% block breadcrumb %}
    <div>
        <h1><i class="fa fa-dashboard"></i> Input Student Join Class</h1>
        <p>Input Student Join Class</p>
    </div>
    <ul class="app-breadcrumb breadcrumb">
        <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
        <li class="breadcrumb-item"><a href="#">Input Student Join Class</a></li>
    </ul>
{% endblock breadcrumb %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <div class="tile-body">
                <div class="table-responsive">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="form-group col-lg-6">
                            <h4 class="py-2">Input Form</h4>
                            {{ form.student }}
                            {{ form.listOfDate }}
                            {{ form.timeslot }}
                            {{ form.room }}
                            <button class="btn-input btn btn-kry-orange py-2">
                                <i class="i-send"></i>
                                <span>Submit</span>
                            </button>
                            {{ form.media.js }}
                            {{ form.errors }}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock content %}

{% block extrascripts %}
    <script type="text/javascript" src="{% static 'js/plugins/jquery.dataTables.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/plugins/dataTables.bootstrap.min.js' %}"></script>
    <script type="text/javascript">$('#sampleTable').DataTable();</script>
    <script>
        $(document).ready(function() {
            $('#id_student').select2();
        });
    </script>
{% endblock extrascripts %}
