{% extends 'base/base.html' %}
{% load static %}
{% block title %}Event Calendar{% endblock title %}

{% block extracss %}
    <link href="{% static 'calender/main.css' %}" rel="stylesheet" />
{% endblock extracss %}

{% block breadcrumb %}
    <div>
        <h1><i class="fa fa-pencil"></i> Change Password</h1>
    </div>
    {% comment %}
    <ul class="app-breadcrumb breadcrumb">
        <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
        <li class="breadcrumb-item"><a href="#">Calendar</a></li>
    </ul>
    {% endcomment %}
{% endblock breadcrumb %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <h3 class="mb-3">Change Password</h3>
            <form action="{% url 'accounts:edit-password' %}" method="POST">
                <div class="row">
                    <div class="col-md-6 mb-3">
                    <input class="form-control" placeholder="Old password" type="password" id="old_password" name="old_password" onkeyup="this.value=this.value.replace(/[ ]/g,'')" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                    <input class="form-control" placeholder="New password" type="password" id="password_1" name="password_1" onkeyup="this.value=this.value.replace(/[ ]/g,'')" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                    <input class="form-control" placeholder="Confirm New Password" type="password" id="password_2" name="password_2" onkeyup="this.value=this.value.replace(/[ ]/g,'')" />
                    </div>
                </div>
                <div class="row">
                    {% csrf_token %}
                    <div class="col-md-6 mb-3">
                    <button class="btn btn-primary border-radius-5" type="submit"><span class="btn-text">Change</span></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
