SECRET_KEY=CHANGE_ME
SCHEDULER_LICENSE_KEY=REQUIRED
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost

# PostgreSQL database 
POSTGRES_DB=REQUIRED_SAME_AS_ENV_DB
POSTGRES_USER=REQUIRED_SAME_AS_ENV_DB
POSTGRES_PASSWORD=REQUIRED_SAME_AS_ENV_DB
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
